
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}

.tally-button {
  margin-bottom: 20px; /* Adjust the spacing as needed */
}

.button-container {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Add gap between buttons */
}

.back-button, .dashboard-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button {
  background-color: #007bff;
}

.back-button:hover {
  background-color: #0056b3;
}

.dashboard-button {
  background-color: #28a745;
  width: auto; /* Override conflicting width */
  height: auto; /* Override conflicting height */
}

.dashboard-button:hover {
  background-color: #218838;
}

.error-message {
  color: red;
  margin-bottom: 20px;
  text-align: center;
}

.results {
  margin-top: 20px;
}

.result-item {
  margin-bottom: 10px;
  font-size: 18px;
}
