
.voting-interface-nav-button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
}

.voting-interface-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.voting-interface-nav-button:hover {
    background-color: #0056b3;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background: linear-gradient(135deg, #f9f9f9, #e0e0e0);
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  max-width: 450px;
  margin: 40px auto;
  animation: fadeIn 0.5s ease-in-out;
}

.button {
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-spacing {
    margin-right: 300px; /* Adjust the margin as needed */
}
